<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>member Detail</h2>
memberId; <div th:txet="${memberDTO.memberId}"></div>
memberPassword; <div th:txet="${memberDTO.memberPassword}"></div>
memberName; <div th:txet="${memberDTO.memberName}"></div>
memberEmail; <div th:txet="${memberDTO.memberEmail}"></div>
memberMobile; <div th:txet="${memberDTO.memberMobile}"></div>
memberProfile; <div th:txet="${memberDTO.memberProfile}"></div>
</body>
</html>