<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>member save</h2>

<form action="/member/saveReq" method="post">


    memberId:<input type="text" id="memberId" name="memberId"><br>
    memberPassword:<input type="text" id="memberPassword" name="memberPassword"><br>
    memberName:<input type="text" id="memberName" name="memberName"><br>
    memberEmail:<input type="text" id="memberEmail" name="memberEmail"><br>
    memberMobile:<input type="text" id="memberMobile" name="memberMobile"><br>
    memberProfile:<input type="text" id="memberProfile" name="memberProfile"><br>
    <input type="submit" value="회원가입">


</form>

</body>
</html>